html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.planet-info {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.planet-info-content {
    background-color: rgb(0, 0, 35);
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0px 0px 10px 3px rgba(255,255,0,0.5);
    color: white;
    font-family: 'Arial', sans-serif;
    overflow-y: auto; /* For scrolling */
}

.close-btn {
    color: lightyellow;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: white; 
    cursor: pointer;
}

h2 {
    color: lightyellow; 
}

p {
    color: white; 
    line-height: 1.5; 
}